.main {
  width: 100vw;
  min-height: 100dvh;
  overflow-y: visible;
  padding-top: 6dvh;
}
.post {
  padding: 2vw;
}
.post h1 {
  margin: 3vw 0 1vw;
  padding-bottom: 0.6vw;
  padding-left: 10vw;
  border-bottom: 1px solid #ccc;
}
.post img {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 2vw 0 4vw;
}
.post a {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5vw 30%;
  padding: 1vw;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.post a:hover {
  background-color: #fff;
}
.post a img {
  width: fit-content;
  height: fit-content;
  margin: 0;
}
.post a p {
  font-size: 0.8vw;
  font-weight: 200;
  margin: 0 1vw;
}
