.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
}
.container {
  width: 100dvw;
  height: calc((100dvh - 10dvh));
  margin-top: 6dvh;
  padding: 3vw;
}
