.main {
  position: relative;
  top: 0px;
  width: 30vw;
  height: 48vh;
  background-color: #ffffff8a;
  border-radius: 1vw;
  transition: all 0.3s ease-in-out;
}
.main:hover {
  top: -20px;
  background-color: #fff;
  cursor: pointer;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  color: #0f0f0f;
}
.post h1 {
  font-size: 1.8vw;
  font-weight: 600;
}
.imageContainer {
  width: 28vw;
  height: 25vh;
  overflow: hidden;
  margin: 1vw 0;
  border-radius: 0.6vw;
}
.post h5 {
  font-weight: 300;
  padding: 1vw;
  word-break: keep-all;
}
.post h6 {
  position: absolute;
  bottom: 10px;
  font-weight: 300;
  color: #c0c0c0;
}
